<!doctype html>
<html lang="pt-br">
  <head>
    <title>Estude sobre as tecnologias do mercado</title>
    <!-- Required meta tags -->
    <link rel="apple-touch-icon" sizes="57x57" href="../favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="../favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../node_modules/bootstrap/compiler/bootstrap.css">

    <link rel="stylesheet" href="../node_modules/bootstrap/compiler/style.css">
  </head>
  <body ng-controller="usuarioController as vm">
    <br><br>
    <br><br>
    <div class="text-center">
    <div id="cadastro">
      <form method="post" action=""> 
        <h1>Cadastro</h1> 
         
        <p> 
          <label for="nome_cad">Seu nome</label>
          <input id="nome_cad" name="nome_cad" required="required" type="text" placeholder="Isaque" />
        </p>
         
        <p> 
          <label for="email_cad">Seu e-mail</label>
          <input id="email_cad" name="email_cad" required="required" type="email" placeholder="husky@gmail.com"/> 
        </p>
         
        <p> 
          <label for="senha_cad">Sua senha</label>
          <input id="senha_cad" name="senha_cad" required="required" type="password" placeholder="ex. 1234"/>
        </p>
         
        <p> 
          <input type="submit" value="Cadastrar"/> 
        </p>
         
        <p class="link">  
          Já tem conta?
          <a href="./login.html"> Ir para Login </a>
        </p>
      </form>
    </div>
    </div>
   
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-warning">
          
          <div class="container">
            
          <a class="navbar-brand h1 mb-0" href="#"><img src="../imgs/SPOILER_icon.png">  Minus Cursos</a>
         
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
           
            <span class="navbar-toggler-icon"></span>
         
          </button>

          <div class="collapse navbar-collapse" id="navbarSite">

            <ul class="navbar-nav mr-auto">

              <li class="nav-item">
                <a class="nav-link" href="../index.html">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="cursos.html">Cursos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contatos.html">Contatos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobre.html">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login.html">Login</a>
              </li>


            </ul>

            <form class="form-inline">
              <input class="form-control ml-4 mr-2" type="search" placeholder="Pesquise oque deseja">
              <button class="btn btn-dark" type="Submit">Ok</button>
            </form>

          </div>

         </div>

        </nav>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>
        <br><br>

        </body>
        <footer class="pt-4 my-md-5 pt-md-5 border-top">
          <div class="col-sm">
          <div class="row">
            <div class="col-12 col-md">
              <img src="../imgs/android-icon-36x36.png">
              <small class="d-block mb-3 text-muted">© 2020</small>
            </div>
            <div class="col-6 col-md">
              <h5>Recursos</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="view/cursos.html">Cursos</a></li>
                <li><a class="text-muted" href="view/sobre.html">Sobre</a></li>
                <li><a class="text-muted" href="view/login.html">Login</a></li>
                <li><a class="text-muted" href="view/cadastro.html">Cadastro</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Contatos</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Email</a></li>
                <li><a class="text-muted" href="#">Instagram</a></li>
                <li><a class="text-muted" href="#">Twitter</a></li>
                <li><a class="text-muted" href="#">Facebook</a></li>
                <li><a class="text-muted" href="#">LinkedIn</a></li>
              </ul>
            </div>
            <div class="col-6 col-md">
              <h5>Sobre</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Equipe</a></li>
                <li><a class="text-muted" href="#">Locais</a></li>
                <li><a class="text-muted" href="#">Privacidade</a></li>
                <li><a class="text-muted" href="#">Termos</a></li>
              </ul>
            </div>
          </div>
        </div>
        </footer>