<!doctype html>
<html lang="pt-br">
    <head>
      <title>Estude sobre as tecnologias do mercado</title>
      <!-- Required meta tags -->
      <link rel="apple-touch-icon" sizes="57x57" href="../favicon/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="../favicon/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="../favicon/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="../favicon/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="../favicon/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="../favicon/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="../favicon/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="../favicon/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="../favicon/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="../favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="../favicon/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="../favicon/favicon-16x16.png">
      <link rel="manifest" href="/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="../ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="../node_modules/bootstrap/compiler/bootstrap.css">
  
      <link rel="stylesheet" href="../node_modules/bootstrap/compiler/style.css">
    </head>
  <body>
   
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-warning">
          
          <div class="container">
            
          <a class="navbar-brand h1 mb-0" href="#"><img src="../imgs/SPOILER_icon.png">  Minus Cursos</a>
         
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
           
            <span class="navbar-toggler-icon"></span>
         
          </button>

          <div class="collapse navbar-collapse" id="navbarSite">

            <ul class="navbar-nav mr-auto">

              <li class="nav-item">
                <a class="nav-link" href="../index.html">Início</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="cursos.html">Cursos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contatos.html">Contatos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="sobre.html">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login.html">Login</a>
              </li>


            </ul>

            <form class="form-inline">
              <input class="form-control ml-4 mr-2" type="search" placeholder="Pesquise oque deseja">
              <button class="btn btn-dark" type="Submit">Ok</button>
            </form>

          </div>

         </div>

        </nav>
    

    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/controller.js"></script>
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>